<div class="component intro">
  <div class="top-50 large center-text width-60">
    <span class="title-600">Welcome to <span class="red-title-600">Zinger-Admin</span> Console</span>
  </div>
  <div class="top-10 very-small center-text width-60">
    <span class="title-100">An Open Source Framework for building Hyperlocal Delivery Mobile and Web applications</span>
  </div>
  <div class="top-50 mid-small center">
    <%= form_tag otp_login_auth_index_path, method: :post do %>
      <%= label_tag :otp, 'OTP' %><br>
      <%= password_field_tag :otp, nil, placeholder: '239987' %><br><br>
      <%= submit_tag 'Login', class: 'chip mid-small active weight-600' %>
    <% end %>
  </div>
  <br/>
  <%= button_to 'Resend OTP', resend_otp_auth_index_path, method: :post, :class => 'bt_icon title-400' %>
</div>

<style type="text/css">
    .intro {
        padding-top: 30px;
    }
</style>
