<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Zinger</title>

  <!-- Site favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/zinger-logo.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/zinger-logo-16x16.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/zinger-logo-32x32.png">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/vendors/styles/core.css">
  <link rel="stylesheet" type="text/css" href="/vendors/styles/icon-font.min.css">
  <link rel="stylesheet" type="text/css" href="/plugins/datatables/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/plugins/datatables/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/vendors/styles/style.css">

  <!-- Scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '/vendors/scripts/core' %>
  <%= javascript_include_tag '/vendors/scripts/script.min' %>
  <%= javascript_include_tag '/vendors/scripts/process' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

  <body class="header-white sidebar-light">
    <%= render 'layouts/header' %>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %> alert-dismissible fade show text-center" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
